header{
    background-color: #fff;
  background-image: linear-gradient(to right,#F4AF23,#E35205 200%);
  height: 80px;
    border-bottom: 1px solid #ebebeb;
    padding: 0 20px;

    width: 100%;

}

div{
  color: white;
  font-weight: bold;
  font-size: 3.2rem;
}
